.dropDownContainer {
  position: relative;
  font-family: 'DM Sans', sans-serif;
}

.dropDownButton {
  background-color: var(--neutral-800);
  padding: 0.5rem 0.625rem;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  margin-bottom: 0.625rem;
}

.dropDownList {
  background-color: var(--neutral-800);
  padding: 0.375rem 0.5rem;
  position: absolute;
  top: calc(100% + 0.625rem);
  right: 0;
  z-index: 10;
  width: max-content;
  border-radius: 0.75rem;
  min-width: 15.0625rem;
}

.dropDownUnitsTitle {
  font-weight: medium;
  padding: 0.625rem 0.5rem;
}

.dropDownUnitsSection {
  padding: 0.625rem 0.5rem;
  border-bottom: solid 1px var(--neutral-600);
}

.dropDownUnitsSectionTitle {
  font-size: 0.875rem;
  color: var(--neutral-300);
  margin-bottom: 0.5rem;
}

.dropDownUnitsOption {
  padding: 0.625rem 0;
}
