.dropDownContainer {
  position: relative;
  font-family: 'DM Sans', sans-serif;
}

.dropDownButton {
  background-color: var(--neutral-800);
  padding: 0.5rem 0.625rem;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  cursor: pointer;
}

.dropDownButton:focus {
  outline: none;
}

.dropDownButton:focus-visible {
  border: 2px solid var(--neutral-200);
}

.dropDownList {
  background-color: var(--neutral-800);
  padding: 0.375rem 0.5rem;
  position: absolute;
  top: calc(100% + 0.625rem);
  right: 0;
  z-index: 10;
  width: max-content;
  border-radius: 0.75rem;
  min-width: 15.0625rem;
  margin-top: 0.625rem;
}

.dropDownUnitsTitle {
  font-weight: medium;
  padding: 0.625rem 0.5rem;
  cursor: pointer;
}

.dropDownUnitsTitle:focus {
  outline: none;
}

.dropDownUnitsTitle:focus-visible {
  border: 2px solid var(--neutral-200);
  border-radius: 0.75rem;
}

.dropDownUnitsSection {
  padding: 0.625rem 0;
  border-bottom: solid 1px var(--neutral-600);
}

.dropDownUnitsSection:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.dropDownUnitsSectionTitle {
  font-size: 0.875rem;
  color: var(--neutral-300);
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.dropDownUnitsOption,
.dropDownDayOption {
  padding: 0.625rem 0.5rem;
  display: flex;
  justify-content: space-between;
}

.dropDownDayOption {
  cursor: pointer;
}

.selected {
  background-color: var(--neutral-700);
  border-radius: 0.5rem;
}
