.heroContainer {
  display: flex;
  justify-content: center;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 3.25rem;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
  padding-inline: 2rem;
}
