.searchBarContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search {
  background-color: var(--neutral-800);
  padding: 1.125rem 1.5rem;
  border-radius: 0.75rem;
  width: 100%;
  display: flex;
  max-width: 36.875rem;
  cursor: pointer;
}

.search img {
  margin-right: 1rem;
  color: var(--neutral-200);
}

.search input {
  background-color: transparent;
  color: var(--neutral-200);
  border: none;
  outline: none;
  width: 100%;
  font-family:
    DM Sans,
    sans-serif;
  font-size: 1.25rem;
  cursor: pointer;
}

.searchBarContainer input[type='button'] {
  width: 100%;
  background-color: var(--blue-500);
  color: white;
  border: none;
  border-radius: 0.75rem;
  font-family:
    DM Sans,
    sans-serif;
  font-size: 1.25rem;
  padding: 1rem 0;
  margin-top: 0.75rem;
  max-width: 36.875rem;
  cursor: pointer;
}

.searchBarContainer input[type='button']:hover {
  background-color: var(--blue-700);
}

.citiesList {
  background-color: var(--neutral-800);
  padding: 0.375rem 0.5rem;
  position: absolute;
  top: 18.2rem;
  width: 100%;
  max-width: 45rem;
  font-family:
    DM Sans,
    sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.city {
  padding: 0.625rem 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.75rem;
  border: 2px solid transparent;
}

.city:hover,
.active {
  background-color: var(--neutral-700);
  border-color: var(--neutral-600);
  cursor: pointer;
}

@media (min-width: 768px) {
  .searchBarContainer input[type='button'] {
    max-width: 7.125rem;
    margin-top: 0;
  }
}
